{% extends "base.html" %}
{% load static %}
{% block title %}Army Number Search{% endblock %}
{% block content %}

<div>
<img src="{% static 'cmp/flag.svg' %}" style="width:20%; height:auto;" alt="The Flag of the British Army. A lion wearing a crown on two crossed swords. ">
<p></p>
<h2> British Army Number Search Tool</h2>
<p>
This search tool can match army numbers from the 1920's to the end of World War 2 which was based on the regiment that a soldier joined initially, and the post war numbering system which is army wide. Pre 1920's, soldiers had regimental numbers so this site cannot be used for matching those.
</p>
<p>
Enter an army number to find out which regiment block the number was assigned from (upto WW2) or approximately when the soldier joined the army (post WW2).
</p>
</div>
<div>
    <form method="post" hx-post="{% url 'army-number-search' %}" hx-target="#query-response">
        {% csrf_token %}
        <input type="text" name="q" placeholder="Enter army number" class="input-text">
        <input type="submit" value="Search" class="btn btn-secondary">
    </form>
</div>
<div class="pt-4" id="query-response"></div>
{% endblock %}