{% extends "base.html" %}
{% block title %}Army Number Search{% endblock %}
{% block content %}
<div>
<p>
This search tool can match army numbers from the 1920's to the end of World War 2 which was based on the regiment that a soldier joined initially, and the post war numbering system which is army wide. Pre 1920's, soldiers had regimental numbers so this site cannot be used for matching those.
</p>
<p>
Enter an army number to find out what unit/regiment block the number was assigned from (upto WW2) or approximately when the soldier joined the army (post WW2).
</p>
</div>
{% endblock %}