{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Cemeteries {% endblock %}
{% block content %}

<h1>Cemeteries</h1>

<table>
    <thead>
      <tr>
        
        <th><h3>Name</h3></th>
        <th><h3>Country</h3></th>
      </tr>
    </thead>
    <tbody>
      {% for cemetery in cemeteries|dictsort:"name" %}
        <tr>
          <td>{{ cemetery.name }}</td>
          <td>
              <a href="{% url 'countries' country_id=cemetery.country.id %}">
                {{ cemetery.country }}
              </a>
            </h2>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}