{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Countries{% endblock %}
{% block content %}

<h1>Countries</h1>

<table class="table table-hover table-borderless table-lg">
    <thead>
      <tr>
        <th>Flag</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for country in countries|dictsort:"name" %}
        <tr>
          <td><h2>{{ country.Flag }}</h2></td>
          <td> <a href="{% url 'countries' country_id=country.id %}"> {{ country.name }} </a> </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}