{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Countries{% endblock %}
{% block content %}

<h1>Countries</h1>

<table class="table table-hover table-borderless table-lg">
    <thead>
      <tr>
        <th>Common Name</th>
        <th>Flag</th>
      </tr>
    </thead>
    <tbody>
      {% for country in countries %}
        <tr>
          <td>
            <a href="{% url 'countries' country_id=country.id %}">
              {{ country.name }}
            </a>
          </td>
          <td><h2>{{ country.flag }}</h2></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}