{% extends "base.html" %}
{% load static crispy_forms_tags %}
{% block title %}Soldier{% endblock %}
{% block content %}

<h1>Soldier</h1>

<table class="table table-hover table-bordered table-lg">
  <thead class="thead-dark">
  </thead>
  <tbody>
      <tr><td>Surname:</td><td>{{ soldier.surname }}</td></tr>
      <tr><td>Initials:</td><td>{{ soldier.initials }}</td></tr>
      <tr><td>Rank:</td><td>{{ soldier.rank }}</td></tr>
      <tr><td>Army Number:</td><td>{{ soldier.army_number }}</td></tr>
      <tr><td>Notes:</td><td>{{ soldier.notes }}</td></tr>
  </tbody>
</table>

{% endblock %}