    body {
        font-family: 'IM Fell English', serif;
        margin-left: 13%;
        margin-right: 13%;
        margin-top: 5%;
    }
    .input-text {
    font-size: 24px;
    color: #8B0000 ;
    padding: 7px;
}