    body {
        font-family: 'IM Fell English', Helvetica, serif;
        margin-left: 13%;
        margin-right: 13%;
        margin-top: 5%;
        font-size: 18px;
    }
    h1, h3, h3, h4, h5, h6 {
        color: #8B0000; 
    }
    .input-text {
    font-size: 24px;
    color: #8B0000 ;
    padding: 7px;
    }
    .response-text {
    font-size: 24px;
    margin-top: 3%;
    color: #8B0000 ;
    padding: 7px;
    }